body{
    background-image: url(IMG/tlvisionHD.jpg);
    background-repeat:round;
    background-size: cover;
}
ul li a:hover {
    background-color: #ea0000;
}
ul{
    margin-top: 40%;
}
ul li {
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    background-color: rgba(219, 178, 38, 0.85);
    padding: 8px; 
    margin-top: 30px;
    margin-right: 30px;
    color: black;
    
}

#main {
    height: 99%;
    width: 100%;
    box-sizing: border-box;
    
    
}
#mainTop {
    height: 95%;
    width: 100%;   
    background-color: rgba(128, 128, 128, 0.37);
    
}
#mainStyle {
    height: 95%;
    width: 73%;
    float: left
}
#nav {
    height: 100%;
    width: 20%;
    float: right;     
    background-color: rgb(128, 128, 128);
}
#footer {
    height: 5%;
    width: 50%;
    float: left;
    background-color: white;
    text-align: center;
}
#rightBar {
    height: 100%;
    width: 7%;
    float: right
        
}



#stylish {
    height:100%;
    width: 100%;
}

#social {
    width: 3%;
    height: 100%;
    float: left;
        
}

#logoimg {
    height: 70%;
    width: 100%;
    
    
}



#mainSlogan {
    height: 30%;
    width: 100%;
}

#sloganIcon {
    height: 50%;
    width: 13%;
    margin-left: 40%;
    
}

#slogan {
    text-align: center;
    font-size: 25px;
    color: rgba(219, 178, 38, 0.85);
    position: relative;
    right: 3%;
    
}

#footer2 {
    height: 5%;
    width: 50%;
    float: right;
    background-color: white;
}

.animated-gif {
      width: 120px;
      height: auto;
    
       
}



.logoimg {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 10%;
    left: 15%;
    
    
}
